#main
  include window/_createPlayRoom
  include window/_loginCheck
  include window/_loginNumber
  include window/_roomDelete
  #loginMessage_wrap
    #loginMessage
  #playRoomInfos
    table.sortable
      thead
        tr
          th No.
          th プレイルーム名
          th ゲームシステム
          th 入室人数
          th パスワード
          th 見学
          th 最終更新時刻
          th 削除
      tbody
  #command
    .row
      .i(style="width:33%;")
        .i あなたのお名前：
        .i
          input#login_name(value="ななしさん")
      .i(style="width:45%;")
        .i 現在のログイン状況：
        .i
          button#btn_loginNumber
      .i(style="width:20%;text-align:right;")
        .dropdown ヘルプ
          .dropdown-content
            button#btn_version バージョン
            button#btn_manual マニュアル
            button#btn_tutorial(disabled) チュートリアル動画
            button#btn_site オフィシャルサイトへ
    .row
      .i(style="width:33%;")
        .i
          button#btn_createPlayRoom 新規プレイルーム作成
        .i
          button#btn_removePlayRoom 指定プレイルームを削除
      .i(style="width:45%;")
        .i プレイルームNo.
        .i
          input#playRoomNo(value="0")
        .i
          button#btn_login ログイン
      .i(style="width:20%;text-align:right;")
        .i
          button#btn_extend(disabled) ＞＞拡張機能
