doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(http-equiv="Pragma",content="no-cache")
    meta(http-equiv="Cache-Control",content="no-cache")
    meta(http-equiv="Expires",content="0")
    title どどんとふ
    script(src='js/jquery.min.js')
    script(src='js/loaders.css.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='js/jquery.tablesorter.min.js')
    script(src='js/jquery.contextMenu.js')
    script(src='js/colResizable-1.6.min.js')
    script(src='js/spectrum.js')
    script(src='js/lib/htmlspecialchars.js')
    script(src='js/lib/dateformat.js')
    script(src='js/util.js')
    script(src='js/config.json')
    link(rel='stylesheet',href='js/loaders.css')
    link(rel='stylesheet',href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet',href='js/jquery.contextMenu.css')
    link(rel='stylesheet',href='js/spectrum.css')
    link(rel='stylesheet',href='css/style.css')
    script(src='js/lib/ddf.js')
    script(src='js/index.js')
  body
    #container
      include _lobby.pug
      include _playRoom.pug
      include window/_version
