doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title どどんとふ
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://tools.cry-kit.com/ddf/public_html/loaders.css.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.14/js/jquery.tablesorter.min.js')
    script(src='js/jquery.contextMenu.js')
    script(src='js/spectrum.js')
    script(src='js/lib/htmlspecialchars.js')
    script(src='js/util.js')
    link(rel='stylesheet',href='https://tools.cry-kit.com/ddf/public_html/loaders.css')
    link(rel='stylesheet',href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet',href='js/jquery.contextMenu.css')
    link(rel='stylesheet',href='js/spectrum.css')
    link(rel='stylesheet',href='css/style.css')
    script(src='js/lib/ddf.js')
    script(src='js/index.js')
  body
    #container
      include main/_main.pug
      include _main2.pug
      include window/_version
      include window/_loginNumber
