@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$cborder : #ccc;
$cbg     : #eee;
$title_bg: linear-gradient(to bottom, #eee, #99ebc2);

@mixin bg($opacity: 0.85){
  border-radius: 4px;
  border: solid $cborder 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $cbg;
  opacity: $opacity;
}

@mixin window($width: 200px, $height: 100px, $top: 0, $left: 0) {
  display: none;
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  z-index: 150;
  
  &::after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
  }
}

@mixin full() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*--- common styles ---*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  padding: 0;
  margin: 0;
  background: #eee;
  font-size: 12px;
}

#container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #94aab5;
}

.row {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.btn {
  float: left;
  border: solid #999 1px;
  background: #ccc;
  border-radius: 4px;
  font-weight: bold;
  padding: 0 8px;
  margin: 0 4px;

  &:hover {
    background: #eee;
    box-shadow: 0 0 1px 2px #ccf;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 3px;
  background: $cbg;
  border: solid 1px $cborder;
  border-radius: 4px;
  width: 6em;
  text-align: center;
  
  &:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    
    button {
      border: 0;
      background: transparent;
      display: block;
      width: 100%;
      text-indent: 1em;
      text-align: left;
      
      &:hover {
        background: #cff;
      }
    }
  }
}

.dropdown2 {
  position: relative;
  display: inline-block;
  padding: 1px 6px;
  width: 100%;
  text-align: left;
  text-indent: 1em;
  &:hover .dropdown-content2 {
    display: block;
    transition-delay:1s;
  }

  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 0;
    left: 100%;
    
    button {
      border: 0;
      background: transparent;
      display: block;
      width: 100%;
      text-indent: 1em;
      text-align: left;
      
      &:hover {
        background: #cff;
      }
    }
  }
}

button {
  position: relative;
  border-radius: 4px;
  border: solid 2px $cborder;
  background: $cbg;

  & .helptext {
    display: none;
  }

  &:hover .helptext{
    z-index: 200;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ffff99;
    opacity: 0.8;
    border: solid #666633 1px;
    inline-size: max-content;
  }
}

button.img {
  border-radius: 0;
  border: 0;
  background: transparent;
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;

  & + & {
    margin-left: 0;
  }
}

input {
  border-radius: 4px;
}

label {
  display: inline-block;
}

/*--- util classes ---*/
.clearfix::after {
  content: "";
  clear: both;
  display: block;
  width: 100%;
}

.disabled {
  filter: grayscale(100%);
  
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;

  .helptext {
    filter: grayscale(100%);
    z-index: 200;
  }
}

.i {
  display: inline-block;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.mirrored{
  transform: rotateY(180deg);
}

.hide {
  display: none;
}

/*--- content lobby ---*/
#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $cbg;
  padding-top: 22px;
}

#loginMessage_wrap {
  height: 133px;
  background: white;
  border: solid $cborder 1px;
  margin: 10px;
  overflow: hidden;
}

#loginMessage {
  border: 0;
  overflow: scroll;
  height: 150px;
  font-size: 12px;
  padding: 0.5em;

  font {
    font-size: 14pt !important;
  }

  h2{
    font-size: 18px;
    text-align: center;
  }
}

#playRoomInfos {
    margin: 0.5em;
    height: 60%;
    overflow:scroll;
  table {
    width: 100%;
    border-collapse: collapse;
    cell-spacing:0;
    border-left: solid 1px $cborder;
    border-top: solid 1px $cborder;
  }

  thead {
    background: linear-gradient(to bottom, #fff, #ccc);
    font-size: 12px;
  }

  td, th {
    border-right: solid 1px $cborder;
    border-bottom: solid 1px $cborder;
  }
  
  td {
    text-align: center;
    background: white; 
  }

  tr:nth-child(odd) td {
    background: #f9f9f9; 
  }

  tr:hover td {
    background: #eef; 
  }
}

/*--- content playRoom ---*/

#main2 {
  display: none;

  #menu {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 36px;
    background: linear-gradient(to bottom, #efefef, transparent);
    box-shadow: #333 0 2px 4px;

    .menuarea{
      display: inline-block;
      background: linear-gradient(to bottom, $cbg, transparent 120%);
      margin: 4px 20px;
      border: #aaa solid 1px;
      .dropdown{
        width: 5em;
        border: 0;
        background: transparent;
        border-radius: 0;

        .dropdown-content{
          left: 0;
        }
      }


      .dropdown:hover {
        background: linear-gradient(to top, $cbg, #fff 120%);
      }
    }

    .dropdown-content {
      inline-size: max-content;
    }

    .dropdown-content button {
      font-size: 9pt;
      
      &.checked {
        padding-left: 0;
        
        &::before {
          content: url(../img/icons/tick.png);
          position: relative;
          top: 2px;
        }
      }
    }
    
    #btn_zoomin {
      margin-left: 20px;
      margin-top: 3px;
    }
    #btn_zoomout {
      margin-right: 20px;
      margin-top: 3px;
    }

    #btn_screenshot {
      margin-top: 4px;
      margin-right: 8px;
    }
    #btn_logout2 {
      margin-top: 4px;
      margin-right: 20px;
    }
  }
}

#map {
  top: 36px;
  z-index: 10;
}

#mapGrid {
  @include full();
  z-index: 20;
  pointer-events: none;
}

#mapDraw {
  @include full();
  display: none;
  z-index: 16;
  pointer-events: none;
}

#mapSurface {
  @include full();
  z-index: 18;
}

#drawsPanel {
  @include full();
  z-index: 14;
  pointer-events: none;
}

#diceResult {
  position: absolute;
  left: 0;
  bottom: 100%;
  height: 105px;
  z-index: 110;

  .total {
    position: absolute;
    left: 10px;
    bottom: 70px;
    background: #61dbdb;
    font-weight: bold;
    min-width: 120px;
    text-align:center;
    border: solid black 1px;
    border-radius: 8px;
    font-size: 16pt;
    inline-size: max-content;
    max-inline-size: 600px;

    &:hover {
      opacity: 0.5;
    }
  }

  img {
    display: block;
    margin-top: 35px;
    height: 70px;
    float: left;

    &:hover {
      opacity: 0.5;
    }
  }
}

#characterCutIn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: 100;

  img {
    position: absolute;
    bottom: 0;

    &.pos1{left: 0;}
    &.pos2{left: 7%;}
    &.pos3{left: 14%;}
    &.pos4{left: 21%;}
    &.pos5{left: 28%;}
    &.pos6{left: 35%;}
    &.pos7{left: 42%;}
    &.pos8{left: 49%;}
    &.pos9{left: 56%;}
    &.pos10{left: 63%;}
    &.pos11{left: 70%;}
    &.pos12{left: 77%;}

    &.mirrored {
      transform: rotateY(180deg);
    }

    &:hover {
      opacity: 0.3;
    }
  }

  &.adjust img{
    min-width: 14%;
    max-height: 400px;
    max-width: 35%;
  }
}

#list_memo {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 0;
  padding-left: 5px;
    width: 60px;
  
  & > div {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    background: #fff;
    border: solid 2px #61dbdb;
    border-radius: 4px;
    text-align: center;
    z-index: 120;
    margin-top: 5px;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 46px;
      height: 46px;
      z-index: 125;
    }

    span {
      font-weight: bold;
      position: absolute;
      z-index: 126;
      left: 0;
      width: 100%;
    }

    &:hover {
      overflow: visible;
      z-index: 200;

      div {
        position: absolute;
        left: 40px;
        top: 20px;
        display: block;
        border: solid black 1px;
        background: #ffc;
        max-width: 800px;
        max-height: 600px;
        overflow: scroll;
        text-align: left;
        padding: 0 5px;
      }
    }

    div {
      display: none;
    }
  }
}

/*--- objects ---*/

.magicRangeFrame {
  z-index: 40;

  position: absolute;
  text-align: center;

  object {
    pointer-events: none;
  }

  &.rangeCenterMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }

  &.rangeLeftMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -25px;
    margin-top: -25px;
  }

  &.rangeRightMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: -25px;
    margin-top: -25px;
  }

  &.rangeTopMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }

  &.rangeBottomMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    margin-bottom: -25px;
  }

  &.rangeTopLeftMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -25px;
    margin-top: -25px;
  }

  &.rangeTopRightMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -25px;
    margin-top: -25px;
  }

  &.rangeBottomLeftMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -25px;
    margin-bottom: -25px;
  }

  &.rangeBottomRightMarker::after {
    content: url(../img/centerMarker.png);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -25px;
    margin-bottom: -25px;
  }

  &.metallicGuardian {
  }
}

.mapMaskFrame {
  z-index: 30;

  position: absolute;
  text-align: center;
  display: table;
  border: solid #ff9999 4px;

  &.draggableObj {
    z-index: 35;
    border: solid #ffff99 4px;
  }

  .name {
    color: white;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    font-size: 18pt;
  }

}

.floorTileFrame {
  z-index: 12;
  position: absolute;
  text-align: center;

  .inner {
    @include full;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.chitFrame {
  z-index: 55;
  position: absolute;
  text-align: center;

  .inner {
    @include full;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: solid #3366bb 4px;
    box-shadow: black 0 0px 0px 2px;
  }
}

.characterFrame {
  z-index: 55;
  position: absolute;
  text-align: center;

  &.isHide{
    z-index: 25;
  }

  .dogtag {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: 0.7;
    font-size: 14pt;
  }

  .name {
    position: relative;
    top: -1.6em;
    background: white;
    opacity: 0.7;
    inline-size: max-content;
    display: inline;
  }

  .inner {
    @include full;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: solid #bbbb00 4px;
    box-shadow: black 0 0px 0px 2px;
  }
}

.mapMarkerFrame {
  z-index: 45;

  position: absolute;
  text-align: center;
  display: table;

  .message {
    color: white;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    font-size: 18pt;
  }

  &:after {
    content: "";
    background-image: url(../img/mapMarker.png);
    background-size: 100% 100%;
    display: inline-block;
    @include full();
  }
}

/*--- window ---*/

#initiative::after {
  content: "";
  clear:both;
  display: block;
  width: 100%;
}

#initiative_bg {
  @include bg(0.7);
  font-size: 12px;
  font-weight: bold;
}

#initiative {
  z-index: 150;
  position: absolute;
  top: 40px;
  right: 0;
  width: 400px;
  height: 400px;
  display: none;

  #wrap {
    position: absolute;
    left: 6px;
    right: 6px;
  }

  table {
    background: white;
    position: absolute;
    top: 50px;
    bottom: 0px;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    
    border-top: solid #ccc 1px;
    border-left: solid #ccc 1px;

    tr {
      background: white;
      
      &:hover {
        background: #cff;

        input:not([type="checkbox"]) {
          background: #cff;
        }
      }
    }
  }

  table th, 
  table td {
    position: relative;
    border-right: solid #ccc 1px;
    border-bottom: solid #ccc 1px;

    &:nth-child(n+2):not(:last-child) {
      min-width: 3.2em;
    }

    input[type="number"] {
      text-align: right;

      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
          width: 0.3em;
      }
    }

    input:not([type="checkbox"]), textarea {
      @include full();
      border: 0;
      width: 100%;
    }
  }

  table th p {
    overflow: hidden;
    margin: 0;
    height: 1.5em;
  }
}

#window_initiative_edit {
  @include window(500px, 220px, 40%, 40%);

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button {
      margin: 0.3em 0.5em;
    }
  }
}

#window_saveChatLog {
  @include window(340px, 220px, 40%, 40%);

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button {
      margin: 0.3em 0.5em;
    }
  }
}

#window_memo {
  @include window(600px, 400px, 40%, 40%);

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    #memo_listTab{
      overflow: hidden;
      height: 18px;
    }

    .tab{
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 4em;
      border: solid #ccc 1px;
      border-radius: 4px;
      text-align: center;
      float: left;
      height: 1.4em;
      padding-right: 16px;

      img {
        display: none;
      }

      &:hover{
        img {
          display: inline-block;
          position: absolute;
          width: 12px;
          top: 2px;
          right: 2px;
        }
      }

      &.active{
        background: white;
      }
    }

    textarea {
      display: none;
      min-width: 100%;
      max-width: 100%;
      height: 310px;

      &.active{
        display: inline-block;
      }
    }
  }
}

#window_help {
  @include window(600px, 400px, 40%, 40%);
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }
  
  .body {
    @include full();
    top: 26px;
    padding: 0.3em;
    overflow: scroll;
    
    pre {
      margin: 0;
      background: #fff;
    }
  }
}

#window_mapMask {
  @include window(400px, 300px, 40%, 40%);
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    right: 40%;
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    label {
      width: 3em;
      text-align: right;
      display: inline-block;
    }

    .slider {
      width: 120px;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }

  .body2 {
    @include full();
    left: 40%;
    top: 26px;
    padding: 0.3em;

    #mapMask_preview {
      transform-origin: top left;
    }
  }

  
  #mapMask_name {
    width: 7em;
  }
  #mapMask_width, #mapMask_height {
    width: 3em;
  }
}

#window_chit {
  @include window(480px, 300px, 40%, 40%);
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    label {
      width: 3em;
      text-align: right;
      display: inline-block;
    }

    .slider {
      width: 120px;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }

  .body2 {
    @include full();
    left: 40%;
    top: 26px;
    padding: 0.3em;

    #mapMask_preview {
      transform-origin: top left;
    }
  }
}

#window_mapMarker {
  @include window(400px, 300px, 40%, 40%);
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    right: 40%;
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    label {
      width: 3em;
      text-align: right;
      display: inline-block;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }

  .body2 {
    @include full();
    left: 50%;
    top: 26px;
    padding: 0.3em;

    #mapMarker_preview {
      transform-origin: top left;
      text-align: center;
      display: table;

      .message {
        color: white;
        vertical-align: middle;
        display: table-cell;
        height: 100%;
        font-size: 18pt;
      }

      &:after {
        content: "";
        background-image: url(../img/mapMarker.png);
        background-size: 100% 100%;
        display: inline-block;
        @include full();
      }
    }

  }

  
  #mapMarker_message {
    width: 12em;
    height: 6em;
  }
  #mapMarker_width, #mapMarker_height {
    width: 3em;
  }
}

#window_magicRangeMarker {
  @include window(400px, 350px, 40%, 40%);
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    label {
      width: 8em;
      display: inline-block;
      text-align: right;
    }

    .r {
      padding: 8px;
      width: 100%;
    }

    #magicRangeMarker_name, #magicRangeMarker_info {
      width: 10em;
    }

    #magicRangeMarker_timeRange, #magicRangeMarker_feets {
      width: 3em;
    }
  }
}

#window_magicRangeDD4th {
  @include window(400px, 350px, 40%, 40%);
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    label {
      width: 8em;
      display: inline-block;
      text-align: right;
    }

    .r {
      padding: 8px;
      width: 100%;
    }

    #magicRangeDD4th_name, #magicRangeDD4th_info {
      width: 10em;
    }

    #magicRangeDD4th_timeRange, #magicRangeDD4th_feets {
      width: 3em;
    }
  }
}

#window_magicRangeLH {
  @include window(400px, 200px, 40%, 40%);
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    label {
      width: 8em;
      display: inline-block;
      text-align: right;
    }

    .r {
      padding: 8px;
      width: 100%;
    }

    #magicRangeLH_name {
      width: 10em;
    }
  }
}

#window_magicRangeMG {
  @include window(400px, 230px, 40%, 40%);
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    label {
      width: 8em;
      display: inline-block;
      text-align: right;
    }

    .r {
      padding: 8px;
      width: 100%;
    }

    #magicRangeMG_name {
      width: 10em;
    }
  }
}

#window_characterCutin {
  @include window(500px, 300px, 30%, 30%)
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    .r:nth-child(2) {
      height: 210px;
      overflow: hidden;
    }

    .table_wrap {
      height: 217px;
      overflow: scroll;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      cell-spacing:0;
      border-left: solid 1px $cborder;
      border-top: solid 1px $cborder;

      tr:first-child {
        background: linear-gradient(to bottom, #fff, #ccc);
        font-size: 12px;
      }

      th:nth-child(5) {
        column-width: 6em;
      }
    }

    td, th {
      border-right: solid 1px $cborder;
      border-bottom: solid 1px $cborder;
      mex-inline-width: 6em;
    }
    
    td {
      text-align: center;
      background: white;

      p {
        overflow: hidden;
        margin: 0;
        height: 1.5em;
        width: 6em;
      }
    }

    tr:nth-child(odd) td {
      background: #f9f9f9; 
    }

    button ~ button {
      margin-left: 3em;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }
}

#window_characterCutin_create {
  @include window(600px, 480px, 10%, 10%)
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    .r {
      padding: 8px;
      width: 100%;
    }
  }

  #characterCutin_create_password {
    display: none;
  }

  #characterCutin_create_preview {
    width: 25%;
    height: 250px;
    position: relative;
    float: left;

    #characterCutin_create_image {
      @include full();

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      
      &.mirrored {
        transform: rotateY(180deg);
      }
    }
  
  }

  #characterCutin_create_imageSelect {
    width: 75%;
    height: 250px;
    float: left;
  }

  #characterCutin_create_imagearea {
    width: 100%;
    height: 200px;
    border: solid #666 1px;
    overflow: scroll;

    div {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;

      img {
        max-width: 50px;
        max-height: 50px;
      }

      input {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  label {
    text-align: right;
    width: 18em;
  }

  .slider {
    width: 15em;
    display: inline-block;
  }
}

#window_addCharacter {
  @include window(800px, 620px, 10%, 10%)
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }

  #addCharacter_password {
    display: none;
  }

  #addCharacter_preview {
    width: 25%;
    height: 250px;
    position: relative;
    float: left;

    #addCharacter_image {
      @include full();

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      
      &.mirrored {
        transform: rotateY(180deg);
      }
    }
  
  }

  #addCharacter_imageSelect {
    width: 75%;
    height: 250px;
    float: left;
  }

  #addCharacter_imagearea {
    width: 100%;
    height: 200px;
    border: solid #666 1px;
    overflow: scroll;

    div {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;

      img {
        max-width: 50px;
        max-height: 50px;
      }

      input {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  #addCharacter_counters {
    width: 100%;
    border-top: solid $cborder 1px;
    border-left: solid $cborder 1px;
    border-collapse: collapse;

    th{
      background: linear-gradient(to bottom, #fff, transparent);
      border-bottom: solid $cborder 1px;
      border-right: solid black 1px;
      min-width: 5em;
    }

    td{
      background: #fff;
      border-bottom: solid $cborder 1px;
      border-right: solid $cborder 1px;

      input {
        border: 0;
        width: 100%;
      }
    }
  }

  .left-block, .right-block {
    width: 50%;
    float: left;
  }

  label {
    width: 5em;
  }

  #addCharacter_info {
    width: 100%;
    height: 120px;
  }

  label, button {
    & .helptext {
      display: none;
    }

    &:hover .helptext{
      z-index: 200;
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      background: #ffff99;
      opacity: 0.8;
      border: solid #666633 1px;
      inline-size: max-content;
    }
  }
}

#window_addCharacter_sub {
  @include window(150px, 200px, 40%, 40%)
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;


    #addCharacter_sub_character {
      width: 50px;
      height: 50px;
      margin: auto;

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }
}

#window_playRoomInfo {
  @include window(400px, 300px, 30%, 30%)

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    #playRoomInfo_main{
      height: 200px;
      width: 100%;
    }
  }
}

#window_mapChange {
  @include window(800px, 530px, 10%, 10%)

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }

  #mapChange_imagearea {
    width: 100%;
    height: 200px;
    border: solid #666 1px;
    overflow: scroll;

    div {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;

      img {
        max-width: 50px;
        max-height: 50px;
      }

      input {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }


  #mapChange_width, #mapChange_height, #mapChange_gridInterval {
    width: 2em;
  }

  #mapChange_password {
    display: none;
  }

  #mapChange_preview {
    width: 50%;
    height: 400px;
    transform-origin: left top;
    position: relative;
    float: left;

    object {
      position: absolute;
      left: 0;
      top: 0;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  #mapChange_image {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 150px;
  }

  #mapChange_imageSelect {
    float: left;
    width: 50%;
    display: none;
  }
}

#window_imageDelete {
  @include window(600px, 450px, 30%, 30%)
  
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }
  
  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }

  #imageDelete_imagearea {
    width: 100%;
    height: 200px;
    border: solid #666 1px;
    overflow: scroll;

    div {
      display: inline-block;
      width: 50px;
      height: 76px;
      text-align: center;

      img {
        max-width: 50px;
        max-height: 50px;
      }

      input {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  #imageDelete_password {
    display: none;
  }
  
}

#window_upload {
  @include window(600px, 450px, 30%, 30%)
  
  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }
  
  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    .r {
      padding: 8px;
      width: 100%;
    }
  }

  #upload_droparea {
    width: 100%;
    height: 200px;
    border: solid #666 1px;
    overflow: scroll;
    z-index: 55;

    &.is-dragover{
      background: white;

      & ~ .overwrap, img {
        display: none;
      }
      
      &::before {
        content: "ここにドロップ";
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    div {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;

      img {
        max-width: 50px;
        max-height: 50px;
      }
    }

    & ~ .overwrap {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 8px;
      left: 0;
      
      input {
        overflow: hidden;
        width: 0;
      }
      z-index: 54;
    }
    
    
  }
  
  #upload_password {
    display: none;
  }
  
  #upload_result {
    overflow: scorll;
    width: 100%;
    height: 50px;
  }
}

#window_graveyard {
  @include window(380px, 125px, 30%, 30%);

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 26px;
    padding: 0.3em;

    button ~ button {
      margin-left: 3em;
    }

    .row {
      padding: 8px;
      height: 50px;
      width: 100%;
    }
  }

  #graveyard_reload {
    float: right;
  }
}
#window_chat {
  @include window(80%, 30%, 70%, 0);
  display: block;

  .bg {
    @include bg(0.8);
  }

  .body {
      @include full();
    top: 22px;
    padding: 0.3em;
    bottom: 125px;

    #tab {
      padding-left: 10px;

      & > p {
        background: linear-gradient(to bottom, #ccc, transparent 120%);
        float: left;
        margin: 0;
        padding: 0.2em 1em;
        margin-right: 4px;
      }

      & > p.active {
        background: #fff;
      }
    }

    #log{
      @include full();
      top: 2.2em;
      left: 10px;
      right: 10px;
      background: #fff;
      overflow: hidden;

      div {
        display: none;
        @include full();
        bottom: -18px;
        overflow: scroll;

        .time {
          color: black;
        }
      }

      div.active {
        display: block;
      }
    }
  }

  .body2 {
    position: absolute;
    height: 125px;
    padding: 0.3em;
    bottom: 0;

    textarea {
      vertical-align: top;
      width: 750px;
      height: 70px;
    }

    button.fix {
      float: right;
      width: 100px;
    }

    .btn_area{
      width: 120px;
      float: right;
    }
  }

  .wrap {
    margin-left: 10px;
    margin-right: 10px;
  }

  .r {
    padding: 6px;
  }

  #log p {
    margin: 0;
  }
}
#window_version {
  @include window(300px, 110px, 40%, 40%);

  .bg {
    @include bg(0.8);
  }

  .wrap {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .body {
    position: absolute;
    background: #fff;
    top: 22px;
    padding: 0.3em;
  }
  
  #version_close {
    position: absolute;
    bottom: 4px;
    right: 10px;
  }
}

#window_loginNumber {
  @include window(200px,150px, 400px, 200px);
  z-index: 9999;
  
  .bg {
    @include bg(0.8);
  }
  
  .body {
    position: absolute;
    top: 22px;
    padding: 0.3em;
    text-align: center;
    left: 0;
    right: 0;
    bottm: 0;
  }
  
  .btn {
    position: absolute;
    bottom: 4px;
    left: 40%;
    width: 20%;
  }
}


#window_chatFont {
  @include window(300px, 310px, 200px, 200px);

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 22px;
    padding: 0.3em;

    .row {
      padding: 8px;
      width: 100%;
    }

    label {
      width: 9em;
    }
  }
}

#window_loginCheck {
  @include window(400px, 190px, 200px, 200px);

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 22px;
    padding: 0.3em;

    .row {
      padding: 8px;
      width: 100%;
    }
  }
}

#window_roomDelete {
  @include window(400px, 150px, 200px, 200px);

  .bg {
    @include bg(0.8);

    & > div {
      background: $title_bg;
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 22px;
    padding: 0.3em;

    .row {
      padding: 8px;
      width: 100%;
    }
  }
}

#window_chatPalette {
  @include window(500px, 540px, 200px, 200px);

  .bg {
    @include bg(0.8);

    & > div {
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 22px;
    padding: 0.3em;
    text-align: center;
    left: 0;
    right: 0;
    bottm: 0;

    .wrap {
      position: relative;
      height: 100%;
    }

    #chatPalette_tabs {
      height: 1.8em;
      overflow: hidden;
      padding-left: 10px;

      & > p {
        background: linear-gradient(to bottom, #ccc, transparent 120%);
        float: left;
        margin: 0;
        padding: 0.2em 1em;
        margin-right: 4px;
      }

      & > p.active {
        background: #fff;
      }
    }

    #chatPalette_name {
      width: 6em;
    }

    #chatPalette_tabName {
      width: 4em;
    }

    #chatPalette_chattext {
      width: 440px;
    }

    .wrap {
      @include full();
      overflow: hidden;
    }

    #chatPalette_main {
      @include full();
      bottom: -17px;
      overflow: scroll;

      background: #fff;

      p {
        margin: 0;
        text-align: left;
        overflow: hidden;
        min-height: 1em;
      }

      p:hover {
        background: #cff;
      }
    }

    #chatPalette_text {
      @include full();
      display: none;
      width: 100%;
    }

    .r:nth-child(4) {
      @include full();
      top: 88px;
      bottom: 40px;
      left: 8px;
      right: 8px;
    }

    .r:last-child {
      position: absolute;
      bottom: 10px;
      width: 100%;
      padding: 0 8px;
    }
  }
}

#window_chatPalette_import {
  @include window(250px, 152px, 40%, 40%);

  .bg {
    @include bg(0.8);

    & > div {
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 22px;
    padding: 0.3em;
    text-align: center;
    left: 0;
    right: 0;
    bottm: 0;
  }

  #chatPalette_import_droparea {
    width: 100%;
    height: 120px;
    border: solid #666 1px;
    z-index: 55;
    background: #fff;

    &.is-dragover{
      background: #ccf;

      & ~ .overwrap, img {
        display: none;
      }
      
      &::before {
        content: "ここにドロップ";
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    div {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;

      img {
        max-width: 50px;
        max-height: 50px;
      }
    }

    & ~ .overwrap {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 8px;
      left: 0;
      
      input {
        overflow: hidden;
        width: 0;
      }
      z-index: 54;
    }
    
    
  }
}


#window_loadSaveData {
  @include window(500px, 540px, 200px, 200px);

  .bg {
    @include bg(0.8);

    & > div {
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 22px;
    padding: 0.3em;
    left: 0;
    right: 0;
    bottm: 0;
    line-height: 2.4;

    input[type=checkbox] {
      margin-left: 2em;
    }
  }
}

#window_loadSaveData_import {
  @include window(250px, 152px, 40%, 40%);

  .bg {
    @include bg(0.8);

    & > div {
      margin: 0;
      font-weight: bold;
      padding: 2px 4px;
    }
  }

  .body {
    @include full();
    top: 22px;
    padding: 0.3em;
    text-align: center;
    left: 0;
    right: 0;
    bottm: 0;
  }

  #loadSaveData_import_droparea {
    width: 100%;
    height: 120px;
    border: solid #666 1px;
    z-index: 55;
    background: #fff;

    &.is-dragover{
      background: #ccf;

      & ~ .overwrap, img {
        display: none;
      }
      
      &::before {
        content: "ここにドロップ";
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    div {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;

      img {
        max-width: 50px;
        max-height: 50px;
      }
    }

    & ~ .overwrap {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 8px;
      left: 0;
      
      input {
        overflow: hidden;
        width: 0;
      }
      z-index: 54;
    }
    
    
  }
}

#window_createPlayRoom {
  @include window(500px, 140px, 200px, 200px);

  .bg {
    @include bg(0.8);
  }

  .body {
    position: absolute;
    top: 22px;
    padding: 0.3em;
    text-align: center;
    left: 0;
    right: 0;
    bottm: 0;
  }

  .i4 {
    display: inline-block;
    width: 45%;
  }

  .i6 {
    display: inline-block;
    width: 50%;
  }

  .r {
    text-align: left;
  }

  select {
    height: 1.8em;
  }
}

