#window_chat.draggable.resizable
  .inner
    .bg チャット
      span#writingState
    .wrap
      .body
        #tab.dragprev
        #log.dragprev
      .body2.dragprev
        .r
          | 名前
          input#chatname
          button.img#btn_private.disabled
            img(src="img/icons/key.png")
            .helptext 秘話機能有効化
          select#dicebot
          button.img#btn_help
            img(src="img/icons/icon_help.png")
            .helptext ダイスボットのヘルプを別ウィンドウで表示します。
          button.img#btn_diceBotTable.disabled
            img(src="img/icons/page_white_gear.png")
            .helptext ダイスボット表追加・変更・削除
          button.img#btn_novel.disabled
            img(src="img/icons/book_open.png")
            .helptext ログ表示をノベルゲーム風表示へ切り替える
          button.img#btn_chatDelete
            img(src="img/icons/page_white_delete.png")
            .helptext チャットログ全削除
          button.img#btn_chatFont
            img(src="img/icons/font.png")
            .helptext チャット文字設定
          button.img#btn_mute
            img(src="img/icons/sound.png")
            .helptext 音再生あり
          button.img#btn_vote.disabled
            img(src="img/icons/user_comment.png")
            .helptext 点呼／投票
          button.img#btn_alarm.disabled
            img(src="img/icons/bell.png")
            .helptext 目覚ましアラーム送信
          button.img#btn_cutinList.disabled
            img(src="img/icons/film.png")
            .helptext カットイン設定
          button.img#btn_characterList
            img(src="img/icons/user_edit.png")
            .helptext 立絵設定
          button.img#btn_easyUpload.disabled
            img(src="img/icons/page_white_get.png")
            .helptext 簡易ファイルアップローダー
          button.img#btn_talk.disabled
            img(src="img/icons/emoticon_smile.png")
            .helptext テキスト読み上げなし
        .r
          | 発言
          textarea#chattext
          div.btn_area
            button#btn_chatsend.fix 送信
            button#btn_savelog2.fix ログ保存
  include _diceResult.pug