#window_diceBotTable.draggable
  .bg 
    div
      span.title ダイスボット用表管理
      .pull-right#diceBotTable_close2 ×
  .body.dragprev
    .r
      button#diceBotTable_create 新規作成
      button.pull-right#diceBotTable_close 閉じる
    .r
      .table_wrap
        table
          tbody
            tr
              th 変更
              th コピー
              th ゲームシステム
              th コマンド名
              th 表タイトル
              th 削除
#window_diceBotTable_edit.draggable
  .bg 
    div
      span#diceBotTable_edit_title チット作成
      .pull-right#diceBotTable_edit_close2 ×
  .body.dragprev
    .r
      label コマンド名：
      input#diceBotTable_edit_text
      label ダイス：
      input#diceBotTable_edit_dice
      label 表タイトル：
      input#diceBotTable_edit_info
    .r
      select#diceBotTable_edit_diceBot.pull-right
      label.pull-right ゲームシステム
      label 表内容：
      textarea
    .r
      button#diceBotTable_edit_send 作成
      button#diceBotTable_close_send キャンセル
      button#diceBotTable_sample_send サンプル