#window_graveyard.draggable
  .bg 
    div
      span.title 墓場
      .pull-right#graveyard_close2 ×
  .body.dragprev
    .row
      |名前
      select#graveyard_characters
      button#graveyard_reload 再読込
    .row
      button#graveyard_resurrect 復活
      button#graveyard_close キャンセル
      button#graveyard_clear 墓地を空にする