#window_memo.draggable
  .bg 
    div 
      span.title 共有メモ
      .pull-right#memo_close2 ×
  .body.dragprev
    .r#memo_listTab.clearfix
      input(type="hidden")#memo_imgId
      #memo_tab
    .r#memo_edit
    .r
      button#memo_send 追加
      button#memo_close キャンセル
      button#memo_addTab.pull-right タブ追加