#window_playRoomInfo.draggable
  .bg 
    div
      span.title プレイルーム情報表示
      .pull-right#playRoomInfo_close2 ×
  .wrap
    .body
      .r#playRoomInfo_main
      .r.right
        button(disabled)#playRoomInfo_changeRoomInfo プレイルーム情報変更
      .r.center
        button#playRoomInfo_close 閉じる