#window_version.draggable
  .bg バージョン
  .wrap
    .body
      .r
        .i どどんとふ：
        .i#version_DodontoF
      .r 
        .i ddf.js：
        .i#version_ddfjs
      .r
        .i ddfHTML5Client：
        .i#version_ddfcli
  #version_close.btn 閉じる